In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.linear_model import LinearRegression, LogisticRegression
import duckdb
import warnings 
warnings.filterwarnings('ignore')

In [2]:
diabetes_df = pd.read_csv("diabetes_1.csv")

In [3]:
diabetes_df['State'].unique()
state_to_region = {'Northeast': ['New York', 'Massachusetts', 'Pennsylvania', 'Maryland'],
                  'South': ['Florida', 'Texas', 'Tennessee', 'Kentucky', 'North Carolina', 'Virginia', 'Alabama', 'Louisiana', 'Georgia', 'Mississippi', 'Missouri'],
                  'Midwest': ['Illinois', 'Ohio', 'Michigan', 'Wisconsin'],
                  'West': ['Colorado', 'Washington', 'California', 'Nevada', 'Arizona']}
diabetes_df['Region'] = pd.Series()

In [4]:
for i in range(len(diabetes_df['State'])):
    if diabetes_df['State'][i] in state_to_region['Northeast']:
        diabetes_df['Region'][i] = 'Northeast'
    elif diabetes_df['State'][i] in state_to_region['South']:
        diabetes_df['Region'][i] = 'South'
    elif diabetes_df['State'][i] in state_to_region['Midwest']:
        diabetes_df['Region'][i] = 'Midwest'
    elif diabetes_df['Region'][i] in state_to_region['West']:
        diabetes_df['Region'][i] = 'West' 
    else:
        diabetes_df['Region'][i] = 'Unknown'

In [5]:
diabetes_df[diabetes_df['State'] == 'Unknown']

,ID,Year,Age,Race,Sex,State,Zip_Code,MSA,Enrollment_Type_Categorized,Enrollment_Months,...,sitagliptin_and_metformin_hydrochloride,Avg_ADI,Max_ADI,Min_ADI,SVI1,SVI3,SVI4,SVI,MDI,Region
12403,502017,2017,45,Hispanic,Male,Unknown,48911,Unknown,20,12.0,...,0,75.333333,96.0,38.0,0.281248,0.281334,0.508021,0.375466,NaN,Unknown
12404,502019,2019,47,Hispanic,Male,Unknown,48911,Unknown,20,12.0,...,0,75.333333,96.0,38.0,0.281248,0.281334,0.508021,0.375466,NaN,Unknown
12405,502020,2020,48,Hispanic,Male,Unknown,48911,Unknown,20,12.0,...,0,75.333333,96.0,38.0,0.281248,0.281334,0.508021,0.375466,NaN,Unknown
12406,2552017,2017,76,White,Female,Unknown,48506,Unknown,10,12.0,...,0,82.812500,100.0,63.0,-14.360588,-14.498202,-14.442701,-14.387013,NaN,Unknown
12407,2552019,2019,78,White,Female,Unknown,48506,Unknown,10,12.0,...,0,82.812500,100.0,63.0,-14.360588,-14.498202,-14.442701,-14.387013,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20283,58722017,2017,64,Asian,Female,Unknown,48911,Unknown,20,12.0,...,0,75.333333,96.0,38.0,0.281248,0.281334,0.508021,0.375466,NaN,Unknown
20284,80202019,2019,68,White,Female,Unknown,48504,Unknown,10,12.0,...,0,88.000000,100.0,70.0,-14.360588,-14.498202,-14.442701,-14.387013,NaN,Unknown
20285,93402018,2018,74,White,Male,Unknown,49705,Unknown,10,12.0,...,0,61.200000,85.0,49.0,0.520989,0.158867,0.426078,0.414422,NaN,Unknown
20338,29902017,2017,71,White,Female,Unknown,48917,Unknown,10,12.0,...,0,61.482759,100.0,26.0,-35.236656,-23.311688,-94.646452,-94.703669,NaN,Unknown
20370,50362018,2018,78,White,Male,Unknown,48840,Unknown,10,12.0,...,0,48.600000,74.0,18.0,0.233687,0.196252,0.383752,0.252361,NaN,Unknown